# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\edson\OneDrive\BCC IFSUL\5 Período\Teoria dos Grafos\Trabalho Grafos\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
